# Dependency directories
node_modules/

# environment variables file
.env
local.settings.json

# nuxt.js build output
.nuxt
dist

# VSCode
.vscode

# macOS
.DS_Store

# others
.turbo
/logs
coverage
.npmrc