# Dependency directories
node_modules/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# environment variables file
.env
local.settings.json

# nuxt.js build output
.nuxt
dist

# VSCode
.vscode

# macOS
.DS_Store

# others
.turbo
/logs
coverage
.npmrc