# Dependency directories
node_modules/

# environment variables file
.env

# build output
dist

# VSCode

# macOS
.DS_Store

# Azurite
__azurite_db_*.json
__blobstorage__
__queuestorage__

# Terraform
.terraform
.terraform*
terraform.tfstate*
*.tfvars