/*
* References
* - https://github.com/nuxt-community/vuetify-module#customvariables
* - https://vuetifyjs.com/en/features/sass-variables/#vue-cli-install
*/

$pagination-item-min-width: 24px;
$pagination-item-height: 24px;
$pagination-navigation-width: 24px;
$pagination-navigation-height: 24px;